/*/*STYLING FOR HOME PAGE CONTENT*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*styling for home_content part*/
section.home_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 20vw;
}

section.home_content h1{
	text-shadow: none;
	font-size: 80px;
	font-weight: bold;
}

section.home_content a.navBtn:hover{
	background: #E84994;
	box-shadow: 0 0 1rem #E84994,
	            0 0 4rem #E84994,
	            0 0 8rem #E84994;
}

div.left, div.right{
	width: 45%;
}

div.right img{
	width: 100%;
}


/*styling for about_content part*/



/*styling for portfolio_content part*/
section.about_content, section.portfolio_content{
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: 20vw auto;
	border: 1px solid white;
}

div.preview_part{
	width: 40%;
	position: relative;
}

div.preview_part img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

div.preview_part div.neonBorder{
	position: relative;
	top: -40px;
	left: -40px;
	width: 100%;
	height: 24vw;
}

div.neonBorder:before{
	content: '';
	position: absolute;
	top: -4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	background: #fff;
	z-index: -1;
}

div.neonBorder:after{
	content: '';
	position: absolute;
	top: -4px;
	left: -4px;
	right: -4px;
	bottom: -4px;
	background: #fff;
	z-index: -2;
	filter: blur(20px);
}

div.neonBorder:before, div.neonBorder:after{
	background: linear-gradient(200deg, #E84994, #060c21, #02C8ED);
}

div.neonBorder div{
	width: 100%;
	height: 100%;
	background-color: #060c21;
}

div.text_part{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

div.text_part p{
	line-height: 150%;
}

div.text_part div{
}*/