/*STYLING FOR HOME PAGE CONTENT*/
section.home_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

section.home_content h1{
	text-shadow: none;
	font-size: 80px;
	font-weight: bold;
}

section.home_content a.navBtn:hover{
	background: #E84994;
	box-shadow: 0 0 1rem #E84994,
	            0 0 4rem #E84994,
	            0 0 8rem #E84994;
}

div.left, div.right{
	width: 45%;
}

div.right img{
	width: 100%;
}
