/*STYLING FOR HOME PAGE CONTENT*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/*styling for the cover part*/
section.cover{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20vh;
}

section.cover img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section.cover h1{
	position: relative;
	text-shadow: none;
	font-size: 80px;
	font-weight: bold;
	color: rgba(0,0,0,0);
	-webkit-text-stroke: 0.1vw #fff;
	z-index: 100;
}

section.cover h2{
	position: absolute;
	top: 5%;
	right: 5%;
	writing-mode: vertical-lr;
	color: #fff;
	text-shadow: 0 0 0.5rem #fff,
				 0 0 1rem #fff,
				 0 0 1.5rem #fff,
				 0 0 2rem #fff;
}

section.cover nav{
	position: absolute;
	top: 20%;
	left: 10%;
	width: 5%;
	height: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section.cover a{
	display: block;
	width: 100%;
	height: 7%;
	text-align: center;
	margin: 0;
	padding-top: 7px;
}

section.cover div{
	width: 50%;
	height: 39.5%;

}

section.cover nav div.left{
	border-right: 1px solid white;
}

section.cover nav div.right{
	border-left: 1px solid white;
}



/*styling for connection part*/
section.connection{
	height: 20vh;
	display: flex;
	margin: 10vh 0;
}

section.connection div.left{
	width: 50%;
	height: 100%;
	border-right: 1px solid white;
}

section.connection div.right{
	width: 50%;
	height: 100%;
	border-left: 1px solid white;
}



/*styling for about part*/
section.about{
	position: relative;
	width: 100%;
	/*height: 100vh;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

section.about div.title{
	width: 60%;
	height: 20vh;
}

section.about h2{
	color: #fff;
	text-shadow: none;
	position: relative;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 3em;
	transition: 0.5s;
	transform-origin: left;
	transform: scaleX(0);
}

section.about h2[data-scroll="in"]{
	transform: scaleX(1);
}

section.about h2:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #E84994;
	transform-origin: right;
	transition: 0.5s;
}

section.about h2[data-scroll="in"]:before{
	transform: scaleX(0);
	transition-delay: 0.5s;
}

section.about div.content{
	width: 60%;
	height: 50vh;
}

section.about h3{
	position: relative;
	margin: 3% 0;
	padding: 0;
	display: inline-block;
	font-size: 2em;
	transition: 0.5s;
	transform-origin: right;
	transform: scaleX(0);
}

section.about h3[data-scroll="in"]{
	transform: scaleX(1);
	transition-delay: 0.5s;
}

section.about h3:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform-origin: left;
	transition: 0.5s;
}

section.about h3[data-scroll="in"]:before{
	transform: scaleX(0);
	transition-delay: 1s;
}

section.about p{
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 150%;
	transition: 1s;
	opacity: 0;
}

section.about p[data-scroll="in"]{
	opacity: 1;
	transition-delay: 1s;
}


/*styling for the portfolio part*/
section.portfolio{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: 15% auto;
}

section.portfolio div.box{
	position: relative;
	width: 27%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	transition: 0.5s;
}

section.portfolio div.box:hover{
	transform: translateY(-20px);
}

section.portfolio div.box:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #ffbc00, #ff0058);
}

section.portfolio div.box:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #ffbc00, #ff0058);
	filter: blur(30px);
}

section.portfolio div.box:nth-child(2):before,
section.portfolio div.box:nth-child(2):after{
	background: linear-gradient(315deg, #03a9f4, #ff0058)
}

section.portfolio div.box:nth-child(3):before,
section.portfolio div.box:nth-child(3):after{
	background: linear-gradient(315deg, #4dff03, #00d0ff)
}

div.box span.bk{
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: rgba(0,0,0,0.7);
	z-index: 2;
}

div.box div.description{
	position: relative;
	z-index: 10;
	padding: 10%;
}

div.box div.description h2{
	color: #fff;
	text-shadow: none;
	font-size: 1.5em;
	line-height: 120%;
}
div.box div.description p{
	line-height: 120%;
}

div.box div.description a{
	text-decoration: none;
	text-transform: uppercase;
}



/*styling for contact information part*/
section.contact{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 70%;
	margin: 15% auto;
}

section.contact div.full{
	width: 100%;
}

section.contact div.left{
	width: 55%;
}

section.contact div.left input{
	display: inline-block;
	width: 100%;
	height: 3em;
	border: none;
	border-bottom: 0.5px solid white;
	margin-top: 1em;
	background-color: rgba(0,0,0,0);
}

input.massage{
	padding-top: 1.5em;
	padding-bottom: 4em;
	margin-bottom: 2em;
}

section.contact div.left input::placeholder{
	padding-left: 2em;
}

div.btnbox{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.btnbox a{
	position: absolute;
  	top: 0;
  	left: 0;
  	color: #E84994;
  	padding: 0.5em 2em;
  	font-size: 1.5em;
  	letter-spacing: 2px;
  	text-decoration: none;
  	text-transform: uppercase;
  	box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  	overflow: hidden;
  	margin: 0;
}

div.btnbox a:hover{
  	color: #fff;
}

div.btnbox a span:nth-child(1){
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 2px;
  	background: linear-gradient(to right, #E84994, #02C8ED);
  	animation: animate1 2s linear infinite;
  	animation-delay: 1s;
}
@keyframes animate1{
  	0%{
    	transform: translateX(-100%);
  	}
  	100%{
    	transform: translateX(100%);
  	}
}

div.btnbox a span:nth-child(2){
  	position: absolute;
  	top: 0;
  	right: 0;
  	width: 2px;
  	height: 100%;
  	background: linear-gradient(to bottom, #E84994, #02C8ED);
  	animation: animate2 2s linear infinite;
}
@keyframes animate2{
  	0%{
    	transform: translateY(-100%);
  	}
  	100%{
    	transform: translateY(100%);
  	}
}

div.btnbox a span:nth-child(3){
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 2px;
  	background: linear-gradient(to left, #E84994, #02C8ED);
  	animation: animate3 2s linear infinite;
  	animation-delay: 1s;
}
@keyframes animate3{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

div.btnbox a span:nth-child(4){
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 2px;
  	height: 100%;
  	background: linear-gradient(to top, #E84994, #02C8ED);
  	animation: animate4 2s linear infinite;
}
@keyframes animate4{
  	0%{
    	transform: translateY(100%);
  	}
  	100%{
    	transform: translateY(-100%);
  	}
}

section.contact div.right{
	width: 35%;
}

section.contact div.right h3{
	color: #fff;
	text-shadow: none;
}

section.contact div.right p{
	line-height: 120%;
}

section.contact div.right h4{
	color: #E84994;
	text-shadow: 0 0 0.5rem #E84994,
				 0 0 1rem #E84994,
				 0 0 1.5rem #E84994,
				 0 0 2rem #E84994;
}

section.contact div.right div{
	margin-bottom: 3em;
}

