/*styling for the whole page------------*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #060c21;
}

div.wrap{
	padding: 2rem;
}

section#interactive_elements, section#text_elements, section#portfolio_ideas, 
section#portfolio_coms, section#citation{
	margin: 8rem 0;
}

section.element{
  padding-bottom: 2rem;
  border-top-width: 0.05rem;
  border-top-style: solid;
  border-top-color: white;
}

div.element_content{
	padding: 0 2em;
}

div.codeBox{
	position: relative;
	margin: 2rem 0;
}

div.codeBox:before{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}

div.codeBox:after{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(20px);
}

div.codeBox:before, div.codeBox:after{
	background: linear-gradient(200deg, #E84994, #060c21, #02C8ED);
}

code{
  background-color: #000;
  padding: 2rem 0.5rem;
  display: block;
  color: #fff;
}

h1,h2,h3{
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.2rem;
	margin: 1rem 0;
}

h1{
	font-size: 40px;
	color: #fff;
	text-shadow: 0 0 0.5rem #fff,
				 0 0 1rem #fff,
				 0 0 1.5rem #fff,
				 0 0 2rem #fff;
}

h2{
	color: #E84994;
	text-shadow: 0 0 0.5rem #E84994,
				 0 0 1rem #E84994,
				 0 0 1.5rem #E84994,
				 0 0 2rem #E84994;
}

h3{
	color: #02C8ED;
	text-shadow: 0 0 0.5rem #02C8ED,
				 0 0 1rem #02C8ED,
				 0 0 1.5rem #02C8ED,
				 0 0 2rem #02C8ED;
}


h4{
	font-family: 'Josefin Sans', sans-serif;
	margin-bottom: 1%;
	padding-bottom: 0;
	color: #fff;
}

p,li,a{
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	margin: 1rem 0;
}



/*STYLING FOR DESKTOP HEADER*/
header{
	width: 70%;
	margin: auto;
	margin-top: 3vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header div.logo{
	width: 8%;
	height: 13vh;
	min-width: 80px;
	position: relative;
}

header div.logo img{
	width: 100%;
	min-width: 50px;
}

div.logo a, div.logo div{
	position: absolute;
	/*border: 1px solid white;*/
}

div.logo a{
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	z-index: 1;
}

header div.logo div{
	width: 100%;
	height: 100%;
	min-width: 70px;
	min-height: 70px;
	top: 0;
	left: 0;
	mix-blend-mode: multiply;
}

/* Circles */
.circle-1 {
  	background: #000;
  	border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  	animation: border-animation 6s infinite linear;
}
.circle-2 {
  	background: #E84994;
  	border-radius: 80% 30% 50% 50%/50%;
  	animation: border-animation 4s infinite linear;
}
.circle-3 {
  	background: #02C8ED;
  	border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  	animation: border-animation 3s infinite linear;
}

/* Animation */
@keyframes border-animation {
  	to { transform: rotate(360deg); }
}

header h2{
	color: #fff;
	text-shadow: 0 0 0.5rem #fff,
				 0 0 1rem #fff,
				 0 0 1.5rem #fff,
				 0 0 2rem #fff;
}

header a{
	text-decoration: none;
}

nav.menu{
	width: 30%;
	display: flex;
	justify-content: space-between;
}

header a.navBtn{
	border: none;
}



/*
styling for INTERACTIVE ELEMENTS-----------
*/

/*in-text link part*/
a.textLink{
	transition: 0.25s;
	color: #fff;
	text-decoration: none;
}

a.textLink:hover{
	/*margin: 0 0.5rem;*/
	color: #fff;
	text-shadow: 0 0 0.5rem #fff,
				 0 0 1rem #fff,
				 0 0 1.5rem #fff,
				 0 0 2rem #fff;
}


/*default button part*/
a.navBtn{
	position: relative;
	display: inline-block;
	padding: 1rem 3rem;
	margin: 1rem 0;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-decoration: none;
	overflow: hidden;
	transition: color 0.5s ease;
	border: 0.5px solid white;
}

a.navBtn:hover{
	border: none;
	color: #060c21;
	background: #02C8ED;
	box-shadow: 0 0 1rem #02C8ED,
	            0 0 4rem #02C8ED,
	            0 0 8rem #02C8ED;
}


/*submit&reset button part*/
a.resBtn{
	position: relative;
	display: inline-block;
	padding: 1rem 3rem;
	margin: 1rem 0;
	color: #E84994;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-decoration: none;
	overflow: hidden;
	transition: color 0.5s;
}

a.resBtn:hover{
	border: 2px solid #E84994;
	transition: 0.25s;
	transition-delay: 1.25s;
}

a.resBtn span{
	position: absolute;
	display: block;
}

a.resBtn span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #E84994)
}

a.resBtn:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}

a.resBtn span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #E84994)
}

a.resBtn:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}

a.resBtn span:nth-child(2){
	top: -100%;
	right: 0;
	height: 100%;
	width: 2px;
	background: linear-gradient(180deg, transparent, #E84994)
}

a.resBtn:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

a.resBtn span:nth-child(4){
	bottom: -100%;
	left: 0;
	height: 100%;
	width: 2px;
	background: linear-gradient(360deg, transparent, #E84994)
}

a.resBtn:hover span:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}


/*text input and label part*/
label{
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	text-shadow: 0 0 0.5rem #fff,
				 0 0 1rem #fff,
				 0 0 1.5rem #fff,
				 0 0 2rem #fff;
}


/*image link part*/
div.imgBox{
	width: 20%;
	position: relative;
	margin: 2rem 0;
}

div.imgBox:before{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -1;
}

div.imgBox:after{
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background: #fff;
	z-index: -2;
	filter: blur(20px);
}

div.imgBox:before, div.imgBox:after{
	background: linear-gradient(200deg, #E84994, #060c21, #02C8ED);
}

div.imgBox div{
	position: relative;
	overflow: hidden;
}

a.imgLink img{
	max-width: 100%;
	
	transition: transform 0.5s;
}

a.imgLink img:hover{
	transform: scale(1.1);
}


/*branding components part*/
div.bkcolor, div.othercolor{
	width: 40%;
	height: 4%;
	margin: 5em 0;
}

div.bkcolor>p, div.othercolor>p{
	text-align: center;
	background-color: rgba(0,0,0,0);
	font-weight: bold;
}

div.bkcolor{
	border: 1px solid #fff;
	background-color: #060c21;
}

div.othercolor{
	border: 1px solid rgba(0,0,0,0);
}

div.white{
	background-color: #fff;
	box-shadow: 0 0 2rem #fff;
}

div.white p{
	color: #060c21;
}

div.pink{
	background-color: #E84994;
	box-shadow: 0 0 2rem #E84994;
}

div.blue{
	background-color: #02C8ED;
	box-shadow: 0 0 2rem #02C8ED;
}


/*STYLING CITATION SECTION*/
li a{
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
}

li{
	margin: 0.5rem 0;
}



/*STYLING FOR DESKTOP FOOTER*/
footer{
	margin-top: 10rem;
}

footer div{
	width: 100%;
}

footer div h4, footer div p{
	text-align: center;
}
