/*STYLING FOR HOME PAGE CONTENT*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  line-height: 130%;
  font-size: 1.1em;
}

span.hl {
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
  background: #fff;
  padding: 0.1em 0.2em;
  padding-top: 0.2em;
}

/*styling for the project content part*/

section.project_content {
  width: 80%;
  margin: auto;

  div {
    &.title {
      height: 70vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      h2 {
        position: relative;
        font-size: 5em;
        text-shadow: none;
        color: #060c21;
        -webkit-text-stroke: 0.02em #383d52;
        text-transform: uppercase;

        &:before {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: #E84994;
          -webkit-text-stroke: 0vw #383d52;
          border-right: 2px solid #E84994;
          overflow: hidden;
          animation: animate 6s linear infinite;
        }
      }
    }

    &.mobile_title {
      display: none;
    }
  }
}

@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }

  70%, 90% {
    width: 100%;
  }
}

div {
  &.display {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div.overviewImg {
      width: 45%;

      img {
        width: 100%;
      }
    }
  }

  &.textBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
  }

  &.overviewText {
    width: 80%;
    position: relative;
    margin: 2rem 0;

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: #fff;
      z-index: -1;
    }

    &:after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: #fff;
      z-index: -2;
      filter: blur(20px);
    }

    &:before, &:after {
      background: linear-gradient(200deg, #E84994, #060c21, #02C8ED);
    }

    div {
      background-color: #060c21;
      padding: 2rem 2rem;
      display: block;
      color: #fff;
    }
  }
}

p.more {
  margin-bottom: 3em;
}

div {
  &.stepBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &.steps {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20vh;

    div {
      &.subtitle {
        width: 100%;
        margin-bottom: 3%;
      }

      &.imgText {
        width: 45%;
      }
    }
  }

  &.imgText img {
    width: 100%;
  }
}

/*styling for responsive layout*/
@media only screen and (max-width: 900px) {
  section.project_content div {
    &.title {
      display: none;
    }

    &.mobile_title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10% 0;

      h2 {
        text-transform: uppercase;
        font-size: 4em;
        text-shadow: none;
      }
    }
  }

  div {
    &.display div.overviewImg {
      width: 100%;
    }

    &.textBox, &.steps {
      margin-top: 10vh;
    }
  }

  p {
    font-size: 1em;
  }

  section.project_content {
    width: 90%;
  }

  div.steps div.imgText {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 550px) {
  section.project_content div.mobile_title h2 {
    font-size: 2em;
  }
}